@import url('https://fonts.googleapis.com/css?family=Montserrat');


@font-face {
  font-family: "Montserrat Bold";
  src: url("./font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Normal";
  src: url('./font/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Montserrat Light";
  src: url("./font/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./font/Montserrat-Medium.ttf");
}

.button-primary {
  display: flex;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #12a2da;
  border: 3px solid #12a2da;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  transition: padding 0.3s;
  align-content: flex-start;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.button-primary:hover {
  padding: 0.75rem 2.5rem;
}

.button-secondary {
  display: flex;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 600;
  color: #12a2da;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: 3px solid #12a2da;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  transition: padding 0.3s;
  align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.button-secondary:hover {
  padding: 0.75rem 2.5rem;
}

b {
  color: #FBBC13;
}