#formulario {
	margin-top: 3em;
}

.titulo{
    text-align: center;
	margin-top: 2%;
	font-family: 'Montserrat Bold', sans-serif;
}

.label-form {
	font-family: 'Montserrat Light', sans-serif;
}

.grey-text {
	text-align: center;
	margin-top: 1.3em;
}

.form-control {
    text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.6rem;
}
