#homepage {
}

#welcome {
    margin-top: 1em;
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

.bem-vindo {
    margin-top: 3em;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    margin-right: 3em;
    width: 10%;
}

.cards {
    margin-top: 5em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-content: space-between;
}

.texto-homepage {
    font-size: 1.8rem;
    font-family: 'Montserrat Normal', sans-serif;
    text-align: center;
}

.card-homepage {
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 3px solid #F6F8FA;
    padding: 3em;
    align-items: center;
    justify-content: center;
}

.card-homepage:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.icon-home {
    width: 5em;
    position: relative;
    margin: 0em 0em 3em 12em;
}